/MySQLcredentials.php
/CCBCredentials.php
/PRTGCredentials.php
/config/MySQLcredentials.php
/config/CCBCredentials.php
/config/PRTGCredentials.php
/thumbs.db
config/CCBCredentials - SAMPLE.php
config/PRTGCredentials - SAMPLE.php
config/MySQLCredentials - SAMPLE.php
config/APs.txt
