/* Horizontal Menu Scheme */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#timeText{
	font-size: 20px;
}

#map-svg{
	max-width: 700px;
	width: 100%;
}

#wifimouseTooltip {
	pointer-events: none;
	opacity: 0;
    background: lightgrey;
    border:solid gray;
    position: absolute;
    max-width: 8em;
    text-align:center;
		transition: opacity .5s;
		z-index: 10;
}

		#mouseTooltip {
			pointer-events: none;
			opacity: 0;
			background: lightgrey;
			border:solid gray;
			position: absolute;
			max-width: 20em;
			text-align:center;
			transition: opacity .5s;
			z-index: 10;
		}

		#time{
			width: 100%;
			margin: 0px;
		}
		#time .ui-slider-range { background: #729fcf; }
		#time .ui-slider-handle { border-color: #729fcf; }