/* Horizontal Menu Scheme */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#timeText{
	font-size: 20px;
	display: inline-block;
}

#map-svg{
	max-width: 700px;
	width: 100%;
}

#modeSelect{
	display: inline-block;
   width: 100px !important;
}


#wifimouseTooltip {
	pointer-events: none;
	opacity: 0;
    background: lightgrey;
    border:solid gray;
    position: absolute;
    max-width: 8em;
    text-align:center;
		transition: opacity .5s;
		z-index: 10;
}

		#mouseTooltip {
			pointer-events: none;
			opacity: 0;
			background: lightgrey;
			border:solid gray;
			position: absolute;
			max-width: 20em;
			text-align:center;
			transition: opacity .5s;
			z-index: 10;
		}

		#time{
			width: 90%;
			margin: 0px;
		}
		#time .ui-slider-range { background: #729fcf; }
		#time .ui-slider-handle { border-color: #729fcf; }

@media (max-width: 767px) {
			#map-svg{
				margin-top: 0px !important;
				padding-top: 0px !important;
				max-width: 100% !important;
				width: 90% !important;
				height: 90% !important;
			}
			#timeText{
				font-size: .8em;
			}

			select { width: 5em }
}
}